body {
  background-color: rgb(250, 250, 250);
  margin: 0;
}

.App {
  text-align: center;
}

/* Landing Page & Main Title */

#blue-container {
  margin-top: 30px;
  background: rgb(22, 132, 235);
  transform: skewY(-3deg);
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

#main-title {
  color: white;
  padding: 25px 0;
  text-transform: uppercase;
  margin: 0;
  font-size: 64px;
  transform: skewY(3deg);
}

#navbar {
  padding: 10px;
}

.link {
  color: black;
  text-decoration: none;
  padding: 5px 30px;
  transition: 0.5s linear;
  border-radius: 8px;
}

.link:hover {
  background: rgb(230, 230, 230);
}

.hero-title {
  margin-top: 80px;
  font-size: 2em;
  letter-spacing: 1px;
}

.selling-points {
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.point {
  width: 240px;
  padding: 15px 30px;
}

.icon {
  font-size: 3em;
}

/* Library Page */

.link-library img {
  max-width: 400px;
  width: 100%;
}

.library {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top:20px;
  margin-bottom: 40px;
}

.link-library {
  margin: 70px 15px 0 15px;
  text-decoration: none;
  color: black;
}


/* Album Page */

#album-info {
  margin-top: 70px;
}

#album-info img {
  width: 100%;
  max-width: 400px;
}

#song-list {
  margin-left: auto;
  margin-right: auto;
}

.album .icon {
  font-size: 1em;
}


#buttons{
  margin: 20px 0;
}

.btn {
  padding: 10px 30px;
  font-size: 24px;
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  transition: 0.2s linear;
  margin: 0 10px;
  border-radius: 15px;
}

.btn:hover {
  transform: scale(1.2);
  background-color: rgb(22, 132, 235);
}

#release-info {
  margin-bottom: 20px;
}

#song-list {
  cursor: pointer;
}

.current-time, .seek-bar, .total-time, .ion-md-volume-low, .ion-md-volume-high {
  display: inline-block;
  margin: 20px 5px;
}

.seek-bar {
  width: 200px;
}

table {
  width: 300px;
}

table td {
  border-bottom: 1px solid #ddd;
}



@media screen and (max-width: 580px) {
	#main-title {
    font-size: 2em;
  }
  .link-library img, #album-info img {
    max-width: 300px;
    width: 100%;
  }

  .library {
    margin-top: 40px;
  }

  .link-library {
    margin: 30px 15px;
  }
}