body {
  background-color: cornsilk;
}

.App {
  text-align: center;
}

#song-list {
  margin-left: auto;
  margin-right: auto;
}

#buttons{
  background-color: rgb(192, 214, 255);
  margin: 20px 0;
}

.btn {
  padding: 10px 30px;
  font-size: 24px;
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: none;
}

.btn  {
  transition: 0.2s linear;
}

.btn:hover {
  transform: scale(1.2);
  background-color: rgb(192, 214, 255);
}